header {
    //font-size: 10px;
    height: 3em; //trois fois la taille du taille en cours, pratique pour les zooms
    background-color: #eee;
}

img    {
    height: 2em;
}

footer {
    //font-size: 10px;
    height: 3em; //trois fois la taille du taille en cours, pratique pour les zooms
    background-color: #eee;
}