<main>
  <h1>Mentions légales</h1>
</main>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est quaerat
  consequatur provident rerum ipsa architecto, alias incidunt, nulla illo
  tempore laudantium quasi voluptate? Asperiores tempora itaque, dolore aperiam
  deleniti maxime!
</p>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est quaerat
  consequatur provident rerum ipsa architecto, alias incidunt, nulla illo
  tempore laudantium quasi voluptate? Asperiores tempora itaque, dolore aperiam
  deleniti maxime!
</p>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est quaerat
  consequatur provident rerum ipsa architecto, alias incidunt, nulla illo
  tempore laudantium quasi voluptate? Asperiores tempora itaque, dolore aperiam
  deleniti maxime!
</p>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est quaerat
  consequatur provident rerum ipsa architecto, alias incidunt, nulla illo
  tempore laudantium quasi voluptate? Asperiores tempora itaque, dolore aperiam
  deleniti maxime!
</p>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est quaerat
  consequatur provident rerum ipsa architecto, alias incidunt, nulla illo
  tempore laudantium quasi voluptate? Asperiores tempora itaque, dolore aperiam
  deleniti maxime!
</p>
>
